<form class="form" b>
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" #title>
    </div>
    <div class="form-group">
        <label>Text</label>
        <textarea class="form-control" name="text" rows="3" #text></textarea>
    </div>
    <!-- <input type="file" ng2FileSelect [uploader]="uploader" multiple> -->
    <!-- [(ngModel)]="registerBlogData.title"
    [(ngModel)]="registerBlogData.text"  -->

    <button (click)="registerBlog(title, text)" type="submit" class="btn btn-primary">Add Blog</button>
</form>