<form class="form bg-light addBlog">
    <div class="form-group col-md-4 ">
        <label>Title</label>
        <input type="text" class="form-control" name="title" #title>
    </div>
    <div class="form-group">
        <label>Text</label>
        <textarea class="form-control" name="text" rows="3" #text></textarea>
    </div>
    <div class="form-group">
        <label>Picture</label>
        <input type="text" class="form-control" name="picture" #picture>
        <!-- <input type="file" ng2FileSelect multiple name="picture" #picture> -->
    </div>
    <!-- [(ngModel)]="registerBlogData.title"
    [(ngModel)]="registerBlogData.text"  -->

    <button (click)="registerBlog(title, text, picture)" type="submit" class="btn btn-primary">Add Blog</button>
</form>